<div class="row">
	<div class="large-6 large-offset-1 columns">
		<h3>Activity</h3>
		<ul class="activity">
			<% current_user.events.each do |event| %>
				<% if event.type == "PullRequestEvent" %>
					<p><span class="proper-name-in-event"><%= event.actor_name %></span> <%= event.action %> pull request <%= event.number %> in <span class="proper-name-in-event"><%= event.repo_name %></span></p>
				<% elsif event.type == "IssuesEvent" %>
					<p><span class="proper-name-in-event"><%= event.actor_name %></span> <%= event.action %> issue <%= event.issue_number %> in <span class="proper-name-in-event"><%= event.repo_name %></span></p>
				<% elsif event.type == "PushEvent" %>
					<p><span class="proper-name-in-event"><%= event.actor_name %></span> pushed <%= event.size %> commits to <%= event.push_ref %> in <span class="proper-name-in-event"><%= event.repo_name %></span></p>
				<% elsif event.type == "CreateEvent" %>
					<p><span class="proper-name-in-event"><%= event.actor_name %></span> created <%= event.ref_type %> <%= event.ref %> in <span class="proper-name-in-event"><%= event.repo_name %></span></p>
				<% elsif event.type == "DeleteEvent" %>
					<p><span class="proper-name-in-event"><%= event.actor_name %></span> deleted <%= event.ref_type %> <%= event.ref %> in <span class="proper-name-in-event"><%= event.repo_name %></span></p>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="large-4 end columns">
		<h3>Your Repositories</h3>
		<ul class="repos">
			<% current_user.repositories.each do |repository| %>
				<li>
					<h5><%= repository["name"] %></h5>
				</li>
			<% end %>
		</ul>
	</div>
</div>