<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Git Gud</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <% if current_user %>
        <ul class="right">
          <li class="active"><a href="/logout">Log Out</a></li>
        </ul>
        <ul class="left">
          <li><a><%= image_tag("#{current_user.image_url}", height: '32', width: '32', class: "round-image") %><a></li>
          <li><a><%= current_user.followers %> followers. You are following <%= current_user.following %></a></li>
          <li><a><%= current_user.number_starred %> starred repositories.</a></li>
        </ul>
        <% end %>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <p class="critical"><%= flash[:critical] %></p>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
